[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=2

[{phpunit.xml.dist,*.jhm,*.rng,*.wsdl,*.fxml,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.xml}]
indent_style=space
indent_size=4

[*.svg]
indent_style=space
indent_size=4

[{*.ts,*.ats}]
indent_style=space
indent_size=4

[*.tsx]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[yarn.lock]
indent_style=space
indent_size=2

[{*.mkd,*.markdown,*.md}]
indent_style=space
indent_size=4
